body {
	background-color: #121212;
  color: white;
	text-align: center;
}

connecticut-board {
	position: absolute;
  align-content: center;
  display: block;
  width: 40em;
  height: 40em;
	
	left: calc(50% - 20em);
}

h1 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}