<!DOCTYPE html>
<html>
  <head>
    <title>Connecticut Online</title>

    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<h1>Play connecticut online!</h1>

    <form method="GET" action="/play">
      <input type="number" name="gameId" />
      <input type="submit" />
    </form>
  </body>
</html>
