<!DOCTYPE html>
<html>
  <head>
		<link rel="shortcut icon" href="/favicon.svg" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title style="">Connecticut Online</title>
		
    <link href="style.css" rel="stylesheet" type="text/css" />

		<script src="square.js"></script>
    <script src="board.js"></script>
  </head>
  <body>
		<h1>Connecticut 4 Nerds</h1>
		<connecticut-board
			viewer="black"
			boardtexture="assets/boards/wooden_board.jpg"
			size="13"
		/>
		<script src="client.js"></script>
  </body>
</html>

