<!DOCTYPE html>
<html>
  <head>
    <title>Connecticut Online</title>

    <link href="css/master.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/games/games.js"></script>
  </head>
  <body>
		<h1>Connecticut online</h1>

    <div id="container">
      <p>Welcome to connecticut online! To join a game, you can browse through the list below. If you'd rather create a new game... Well, the big button down there can't be missed!</p>
      <form method="GET" action="/play">
        <input type="text" name="gameId" />
        <input type="submit" name="action" value="join">Join game</input>
        <input type="submit" name="action" value="view">Watch game</input>
      </form>
    </div>
  </body>
</html>
