<link   href="/css/new-game.css"  rel="stylesheet">

<div id="newGame">
  <h1>Create a game</h1>

  <form method="POST" action="/play">
    <div id="variantSelection">
      <h3>Variant</h3>
      <select id="variant" name="variant">
        <option value="standard">Standard</option>
        <option value="testing" disabled>Opponent stones fall first</option>
      </select>
    </div>

    <div id="clockSettings">
      <h3>Clock settings</h3>
      <h4>Currently unavailable</h4>
      <input name="timerWhite" type="number" disabled="disabled" id="timerWhite"></input>
    </div>

    <div id="joinColor">
      <button type="submit" name="action" value="joinBlack">Join black</button>
      <button type="submit" name="action" value="joinWhite">Join white</button>
    </div>
  </form>
</div>
