<!DOCTYPE html>
<html>
  <head>
    <title>Connecticut Online</title>

    <link href="css/master.css" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<script src="js/board/square.js"></script>
    <script src="js/board/board.js"></script>
  </head>
  <body>
		<h1>Play connecticut online!</h1>

    <connecticut-board
			boardtexture="assets/boards/wooden_board.jpg"
      gameId="<%= gameId %>"
      viewer="<%= viewer %>"
		/>

		<script src="js/board/client.js"></script>
  </body>
</html>
