#newGame #clockSettings {
  background-color: #525252;
  border-style: dotted;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

#newGame div {
  padding: 1em;
}

#joinColor button {
  margin: .5em;
}

#newGame {
  margin: auto;
  width: 16%;
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
}
